.relatorio-container {
    padding: 50px 105px;
    display: flex;
    flex-direction: row;
}

.extrair-relatorio-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: slategray;
    color: white;
    border: none;
    box-shadow: 2px 2px 4px #dfe2e6;
    padding: 8px 16px;
}

.radar-chart {
    max-width: 500px !important;
    max-height: 500px !important;
}

.grafico-container {
    width: 50%;
}

.opcoes-container {
    width: 50%;
}

.grafico-titulo {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
}

.select-grafico-container {
    margin-bottom: 40px;
}

.label-valor {
    margin-right: 5px;
    font-size: 15px;
}

.select-valor {
    margin-right: 20px;
}

.radar-chart-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: slategray;
    color: white;
    border: none;
    box-shadow: 2px 2px 4px #dfe2e6;
    padding: 8px 16px;
}