.pacer-exemplo-container {
    padding: 20px;
    width: 60%;
}

.pacer-exemplo-title {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}

.pacer-exemplo-group {
    padding: 10px 0;
}

.pacer-exemplo-subtitle {
    font-weight: 500;
}

.pacer-exemplo-list {
    list-style-type: disc;
    margin-left: 38px;
    padding: 10px 0;
}

.pacer-exemplo-exemplo {
    font-weight: 500;
}

.pacer-exemplo-session {
    padding-bottom: 2px;
    margin-bottom: 2px;
}